:root {
  --color-gray-50: #000000;
  --color-gray-75: #0e0e0e;
  --color-gray-100: #1d1d1d;
  --color-gray-200: #303030;
  --color-gray-300: #4b4b4b;
  --color-gray-400: #6a6a6a;
  --color-gray-500: #8d8d8d;
  --color-gray-600: #b0b0b0;
  --color-gray-700: #d0d0d0;
  --color-gray-800: #ebebeb;
  --color-gray-900: #ffffff;
  --color-blue-100: #002651;
  --color-blue-200: #00326a;
  --color-blue-300: #004087;
  --color-blue-400: #004ea6;
  --color-blue-500: #005cc8;
  --color-blue-600: #066ce7;
  --color-blue-700: #1d80f5;
  --color-blue-800: #4096f3;
  --color-blue-900: #5eaaf7;
  --color-blue-1000: #7cbdfa;
  --color-blue-1100: #98cefd;
  --color-blue-1200: #b3defe;
  --color-blue-1300: #ceeaff;
  --color-green-100: #0a2c1c;
  --color-green-200: #073b24;
  --color-green-300: #004c2e;
  --color-green-400: #005d39;
  --color-green-500: #006f45;
  --color-green-600: #008252;
  --color-green-700: #009562;
  --color-green-800: #1ca872;
  --color-green-900: #34bb84;
  --color-green-1000: #4bcd95;
  --color-green-1100: #67dea8;
  --color-green-1200: #89ecbc;
  --color-green-1300: #b1f4d1;
  --color-orange-100: #481801;
  --color-orange-200: #5c2000;
  --color-orange-300: #732b00;
  --color-orange-400: #8a3700;
  --color-orange-500: #a24400;
  --color-orange-600: #ba5200;
  --color-orange-700: #d26200;
  --color-orange-800: #e87400;
  --color-orange-900: #f98917;
  --color-orange-1000: #ffa23b;
  --color-orange-1100: #ffbc66;
  --color-orange-1200: #fdd291;
  --color-orange-1300: #ffe2b5;
  --color-red-100: #570000;
  --color-red-200: #6e0000;
  --color-red-300: #8a0000;
  --color-red-400: #a70000;
  --color-red-500: #c40706;
  --color-red-600: #dd2118;
  --color-red-700: #ee4331;
  --color-red-800: #f9634c;
  --color-red-900: #ff816b;
  --color-red-1000: #ff9e8c;
  --color-red-1100: #ffb7a9;
  --color-red-1200: #ffcdc3;
  --color-red-1300: #ffdfd9;
  --color-celery-100: #002f07;
  --color-celery-200: #003d09;
  --color-celery-300: #004d0c;
  --color-celery-400: #005f0f;
  --color-celery-500: #00710f;
  --color-celery-600: #00840f;
  --color-celery-700: #009714;
  --color-celery-800: #0dab25;
  --color-celery-900: #2dbf3a;
  --color-celery-1000: #50d052;
  --color-celery-1100: #73e06b;
  --color-celery-1200: #93ed83;
  --color-celery-1300: #b4f7a2;
  --color-chartreuse-100: #202b00;
  --color-chartreuse-200: #2a3800;
  --color-chartreuse-300: #364800;
  --color-chartreuse-400: #425800;
  --color-chartreuse-500: #4f6900;
  --color-chartreuse-600: #5d7b00;
  --color-chartreuse-700: #6b8e00;
  --color-chartreuse-800: #7aa100;
  --color-chartreuse-900: #8ab403;
  --color-chartreuse-1000: #9ac60b;
  --color-chartreuse-1100: #aad816;
  --color-chartreuse-1200: #bbe829;
  --color-chartreuse-1300: #cdf648;
  --color-cyan-100: #002944;
  --color-cyan-200: #003658;
  --color-cyan-300: #00456c;
  --color-cyan-400: #005680;
  --color-cyan-500: #006793;
  --color-cyan-600: #0079a7;
  --color-cyan-700: #008cba;
  --color-cyan-800: #04a0cd;
  --color-cyan-900: #17b4dd;
  --color-cyan-1000: #39c7ea;
  --color-cyan-1100: #60d8f3;
  --color-cyan-1200: #86e6fa;
  --color-cyan-1300: #aaf2ff;
  --color-fuchsia-100: #460e44;
  --color-fuchsia-200: #5d095c;
  --color-fuchsia-300: #780078;
  --color-fuchsia-400: #920093;
  --color-fuchsia-500: #a913aa;
  --color-fuchsia-600: #bf2bbf;
  --color-fuchsia-700: #d341d5;
  --color-fuchsia-800: #e45be5;
  --color-fuchsia-900: #ef78ee;
  --color-fuchsia-1000: #f695f3;
  --color-fuchsia-1100: #fbaff6;
  --color-fuchsia-1200: #fec7f8;
  --color-fuchsia-1300: #ffdcfa;
  --color-indigo-100: #1a1d61;
  --color-indigo-200: #23277d;
  --color-indigo-300: #2e329e;
  --color-indigo-400: #3a3fbd;
  --color-indigo-500: #494ed8;
  --color-indigo-600: #5a60eb;
  --color-indigo-700: #6e73f6;
  --color-indigo-800: #8488fd;
  --color-indigo-900: #999dff;
  --color-indigo-1000: #aeb1ff;
  --color-indigo-1100: #c2c4ff;
  --color-indigo-1200: #d4d5ff;
  --color-indigo-1300: #e3e4ff;
  --color-magenta-100: #530329;
  --color-magenta-200: #6a0034;
  --color-magenta-300: #850041;
  --color-magenta-400: #a1004e;
  --color-magenta-500: #ba165d;
  --color-magenta-600: #d12b72;
  --color-magenta-700: #e34589;
  --color-magenta-800: #f1619c;
  --color-magenta-900: #fc7cad;
  --color-magenta-1000: #ff98bf;
  --color-magenta-1100: #ffb3cf;
  --color-magenta-1200: #ffcadd;
  --color-magenta-1300: #ffdde9;
  --color-purple-100: #321068;
  --color-purple-200: #430d8c;
  --color-purple-300: #5610ad;
  --color-purple-400: #6a1dc8;
  --color-purple-500: #7e31de;
  --color-purple-600: #9146ec;
  --color-purple-700: #a25ef6;
  --color-purple-800: #b277fa;
  --color-purple-900: #c08ffc;
  --color-purple-1000: #cea6fd;
  --color-purple-1100: #dbbcfe;
  --color-purple-1200: #e6cfff;
  --color-purple-1300: #f0e0ff;
  --color-seafoam-100: #122b2a;
  --color-seafoam-200: #133937;
  --color-seafoam-300: #104946;
  --color-seafoam-400: #035b58;
  --color-seafoam-500: #006c68;
  --color-seafoam-600: #007f79;
  --color-seafoam-700: #00928c;
  --color-seafoam-800: #00a59f;
  --color-seafoam-900: #1ab9b2;
  --color-seafoam-1000: #42cac3;
  --color-seafoam-1100: #66dad3;
  --color-seafoam-1200: #8be8e1;
  --color-seafoam-1300: #b3f2ed;
  --color-yellow-100: #352400;
  --color-yellow-200: #442f00;
  --color-yellow-300: #563e00;
  --color-yellow-400: #674d00;
  --color-yellow-500: #7a5c00;
  --color-yellow-600: #8d6c00;
  --color-yellow-700: #a17e00;
  --color-yellow-800: #b49000;
  --color-yellow-900: #c7a200;
  --color-yellow-1000: #d8b500;
  --color-yellow-1100: #e9c700;
  --color-yellow-1200: #f7d804;
  --color-yellow-1300: #f9e961;
}
